/TexturesTesting/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/TexturesTesting/obj/Debug/net7.0/apphost.exe
/TexturesTesting/bin/Debug/net7.0/runtimes/win-arm64/native/av_libglesv2.dll
/TexturesTesting/bin/Debug/net7.0/runtimes/win-x64/native/av_libglesv2.dll
/TexturesTesting/bin/Debug/net7.0/runtimes/win-x86/native/av_libglesv2.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Base.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Controls.ColorPicker.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Controls.DataGrid.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Controls.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.DesignerSupport.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Desktop.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Diagnostics.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Dialogs.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Fonts.Inter.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.FreeDesktop.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Markup.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Markup.Xaml.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Metal.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.MicroCom.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Native.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.OpenGL.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Remote.Protocol.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Skia.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Themes.Fluent.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Themes.Simple.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.Win32.dll
/TexturesTesting/bin/Debug/net7.0/Avalonia.X11.dll
/TexturesTesting/bin/Debug/net7.0/CodeWalker.Core.dll
/TexturesTesting/bin/Debug/net7.0/CodeWalker.Core.pdb
/TexturesTesting/bin/Debug/net7.0/ColorTextBlock.Avalonia.dll
/TexturesTesting/bin/Debug/net7.0/DialogHost.Avalonia.dll
/TexturesTesting/bin/Debug/net7.0/HarfBuzzSharp.dll
/TexturesTesting/bin/Debug/net7.0/runtimes/osx/native/libAvaloniaNative.dylib
/TexturesTesting/bin/Debug/net7.0/runtimes/win-arm64/native/libHarfBuzzSharp.dll
/TexturesTesting/bin/Debug/net7.0/runtimes/win-x64/native/libHarfBuzzSharp.dll
/TexturesTesting/bin/Debug/net7.0/runtimes/win-x86/native/libHarfBuzzSharp.dll
/TexturesTesting/bin/Debug/net7.0/runtimes/osx/native/libHarfBuzzSharp.dylib
/TexturesTesting/bin/Debug/net7.0/runtimes/linux-arm/native/libHarfBuzzSharp.so
/TexturesTesting/bin/Debug/net7.0/runtimes/linux-arm64/native/libHarfBuzzSharp.so
/TexturesTesting/bin/Debug/net7.0/runtimes/linux-musl-x64/native/libHarfBuzzSharp.so
/TexturesTesting/bin/Debug/net7.0/runtimes/linux-x64/native/libHarfBuzzSharp.so
/TexturesTesting/bin/Debug/net7.0/runtimes/win-arm64/native/libSkiaSharp.dll
/TexturesTesting/bin/Debug/net7.0/runtimes/win-x64/native/libSkiaSharp.dll
/TexturesTesting/bin/Debug/net7.0/runtimes/win-x86/native/libSkiaSharp.dll
/TexturesTesting/bin/Debug/net7.0/runtimes/osx/native/libSkiaSharp.dylib
/TexturesTesting/bin/Debug/net7.0/runtimes/linux-arm/native/libSkiaSharp.so
/TexturesTesting/bin/Debug/net7.0/runtimes/linux-arm64/native/libSkiaSharp.so
/TexturesTesting/bin/Debug/net7.0/runtimes/linux-musl-x64/native/libSkiaSharp.so
/TexturesTesting/bin/Debug/net7.0/runtimes/linux-x64/native/libSkiaSharp.so
/TexturesTesting/bin/Debug/net7.0/Markdown.Avalonia.dll
/TexturesTesting/bin/Debug/net7.0/MicroCom.Runtime.dll
/TexturesTesting/bin/Debug/net7.0/Microsoft.CodeAnalysis.CSharp.dll
/TexturesTesting/bin/Debug/net7.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/TexturesTesting/bin/Debug/net7.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/TexturesTesting/bin/Debug/net7.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/TexturesTesting/bin/Debug/net7.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/TexturesTesting/bin/Debug/net7.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/TexturesTesting/bin/Debug/net7.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/TexturesTesting/bin/Debug/net7.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/TexturesTesting/bin/Debug/net7.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/TexturesTesting/bin/Debug/net7.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/TexturesTesting/bin/Debug/net7.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/TexturesTesting/bin/Debug/net7.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/TexturesTesting/bin/Debug/net7.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/TexturesTesting/bin/Debug/net7.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/TexturesTesting/bin/Debug/net7.0/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/TexturesTesting/bin/Debug/net7.0/cs/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/de/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/es/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/fr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/it/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/ja/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/ko/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/pl/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/ru/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/tr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/Microsoft.CodeAnalysis.dll
/TexturesTesting/bin/Debug/net7.0/cs/Microsoft.CodeAnalysis.resources.dll
/TexturesTesting/bin/Debug/net7.0/de/Microsoft.CodeAnalysis.resources.dll
/TexturesTesting/bin/Debug/net7.0/es/Microsoft.CodeAnalysis.resources.dll
/TexturesTesting/bin/Debug/net7.0/fr/Microsoft.CodeAnalysis.resources.dll
/TexturesTesting/bin/Debug/net7.0/it/Microsoft.CodeAnalysis.resources.dll
/TexturesTesting/bin/Debug/net7.0/ja/Microsoft.CodeAnalysis.resources.dll
/TexturesTesting/bin/Debug/net7.0/ko/Microsoft.CodeAnalysis.resources.dll
/TexturesTesting/bin/Debug/net7.0/pl/Microsoft.CodeAnalysis.resources.dll
/TexturesTesting/bin/Debug/net7.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/TexturesTesting/bin/Debug/net7.0/ru/Microsoft.CodeAnalysis.resources.dll
/TexturesTesting/bin/Debug/net7.0/tr/Microsoft.CodeAnalysis.resources.dll
/TexturesTesting/bin/Debug/net7.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/TexturesTesting/bin/Debug/net7.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/TexturesTesting/bin/Debug/net7.0/Microsoft.CodeAnalysis.Scripting.dll
/TexturesTesting/bin/Debug/net7.0/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/de/Microsoft.CodeAnalysis.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/es/Microsoft.CodeAnalysis.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/it/Microsoft.CodeAnalysis.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
/TexturesTesting/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/TexturesTesting/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
/TexturesTesting/bin/Debug/net7.0/MsBox.Avalonia.dll
/TexturesTesting/obj/Debug/net7.0/Avalonia/original.dll
/TexturesTesting/obj/Debug/net7.0/Avalonia/original.pdb
/TexturesTesting/obj/Debug/net7.0/Avalonia/original.ref.dll
/TexturesTesting/obj/project.assets.json
/TexturesTesting/obj/project.nuget.cache
/TexturesTesting/obj/project.packagespec.json
/TexturesTesting/obj/Debug/net7.0/Avalonia/references
/TexturesTesting/obj/Debug/net7.0/Avalonia/resources
/TexturesTesting/obj/Debug/net7.0/Avalonia/Resources.Inputs.cache
/TexturesTesting/obj/rider.project.model.nuget.info
/TexturesTesting/obj/rider.project.restore.info
/TexturesTesting/bin/Debug/net7.0/SharpDX.dll
/TexturesTesting/bin/Debug/net7.0/SharpDX.Mathematics.dll
/TexturesTesting/bin/Debug/net7.0/SkiaSharp.dll
/TexturesTesting/bin/Debug/net7.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/TexturesTesting/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/TexturesTesting/bin/Debug/net7.0/System.Drawing.Common.dll
/TexturesTesting/bin/Debug/net7.0/System.IO.Pipelines.dll
/TexturesTesting/bin/Debug/net7.0/System.Reactive.dll
/TexturesTesting/obj/Debug/net7.0/TexturesTesting.AssemblyInfo.cs
/TexturesTesting/obj/Debug/net7.0/TexturesTesting.AssemblyInfoInputs.cache
/TexturesTesting/obj/Debug/net7.0/TexturesTesting.assets.cache
/TexturesTesting/obj/Debug/net7.0/TexturesTesting.csproj.AssemblyReference.cache
/TexturesTesting/obj/Debug/net7.0/TexturesTesting.csproj.CopyComplete
/TexturesTesting/obj/Debug/net7.0/TexturesTesting.csproj.CoreCompileInputs.cache
/TexturesTesting/obj/Debug/net7.0/TexturesTesting.csproj.FileListAbsolute.txt
/TexturesTesting/obj/TexturesTesting.csproj.nuget.dgspec.json
/TexturesTesting/obj/TexturesTesting.csproj.nuget.g.props
/TexturesTesting/obj/TexturesTesting.csproj.nuget.g.targets
/TexturesTesting/bin/Debug/net7.0/TexturesTesting.deps.json
/TexturesTesting/bin/Debug/net7.0/TexturesTesting.dll
/TexturesTesting/obj/Debug/net7.0/ref/TexturesTesting.dll
/TexturesTesting/obj/Debug/net7.0/refint/TexturesTesting.dll
/TexturesTesting/obj/Debug/net7.0/TexturesTesting.dll
/TexturesTesting/bin/Debug/net7.0/TexturesTesting.exe
/TexturesTesting/obj/Debug/net7.0/TexturesTesting.GeneratedMSBuildEditorConfig.editorconfig
/TexturesTesting/obj/Debug/net7.0/TexturesTesting.genruntimeconfig.cache
/TexturesTesting/bin/Debug/net7.0/TexturesTesting.pdb
/TexturesTesting/obj/Debug/net7.0/TexturesTesting.pdb
/TexturesTesting/bin/Debug/net7.0/TexturesTesting.runtimeconfig.json
/TexturesTesting/bin/Debug/net7.0/Tmds.DBus.Protocol.dll
/.idea/.idea.TexturesTesting/.idea/vcs.xml
/.idea/.idea.TexturesTesting/.idea/workspace.xml
